body {
    background-color: #f8f9fa;

    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;

}


.navbar {
    padding: 1.5rem 3rem !important;
}

.navbar-brand img {
    height: 40px;
    margin-right: 10px;
}

.logo-text {

    line-height: 1.1;
    color: #343a40;
}

.arabic-text {

    font-size: 0.9rem;
    font-weight: bold;
}

.english-text {

    font-size: 0.6rem;
}

.custom-nav-link {

    color: #212529 !important;
    font-size: 1.25rem;
    font-weight: 500;
    margin-left: 1.5rem;
}

.main-content {

    height: calc(100vh - 80px);

}

.illustration-container {
    position: relative;
}

.custom-illustration-wrapper {

    width: 600px;
    height: 450px;
    background-image: url('path/to/illustration.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.inner-login-card {

    position: absolute;
    top: 50%;
    left: 25%;

    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);

    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 200px;

    padding: 20px !important;


    background-color: #5BC3A7;

    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 250px;

}

.profile-icon {

    background-color: white;
    color: #5BC3A7;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 0 auto;
}

.inner-login-card .form-control-sm {

    height: 30px;
    background-color: white;
    border: 1px solid white;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    text-align: center;
    color: #495057;
    border-radius: 5px;
}

.inner-login-card h5 {
    font-size: 1rem;
    font-weight: normal;
}


.right-form-container {
    padding: 0 8rem;
}

.custom-input {

    border: none;
    border-bottom: 2px solid #ced4da;
    border-radius: 0;
    padding: 0.375rem 0;
    box-shadow: none !important;
    background-color: transparent !important;
    font-size: 1.2rem;
    color: #495057;
}

.custom-input:focus {
    border-bottom-color: #007bff;
}

.custom-login-btn {
    background-color: #212529 !important;
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 1.1rem;
    border-radius: 8px;
    float: right;

}

.navbar a {
    text-decoration: none !important;
}

.navbar a:hover {
    text-decoration: none !important;
}