/* global */
body {
    background: #EEF7E1;
    font-family: 'Poppins', sans-serif;
    color: #1B263B;
}

/* navbar */
.navbar {
    border-radius: 40px;
    margin: 20px auto;
    width: 95%;

}

.navbar a {
    text-decoration: none !important;
}

.navbar a:hover {
    text-decoration: none !important;
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
    color: #1B263B !important;
}

.btn-dark {
    background: #0D1321 !important;
    border-radius: 20px;
}

/* form container */
.form-wrapper {
    background: white;
    padding: 60px;
    border-radius: 25px;
    margin-top: 40px;
}

/* user icon */
#user-icon {
    font-size: 60px;
    color: #9DC143;
    margin-bottom: 20px;
}

/* steps */
.steps {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    margin-bottom: 40px;
}

.step {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    font-weight: 600;
    font-size: 18px;
    color: #A3A3A3;
    border: 2px solid #CFCFCF;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    z-index: 2;
}

.step.active {
    background: #9DC143;
    color: white;
    border-color: #9DC143;
}

.step-line {
    width: 70px;
    height: 2px;
    background: #CFCFCF;
    position: relative;
    top: 0;
    z-index: 1;
}


/* inputs */
label {
    font-size: 16px;
    color: #1B263B;
}

.underline-input {
    border: none;
    border-bottom: 1px solid #BFBFBF;
    border-radius: 0;
    padding-left: 0;
    font-size: 16px;
    color: #1B263B;
    background: transparent;
}

.underline-input:focus {
    border-bottom: 1px solid #9DC143;
    box-shadow: none;
}

/* next button */
.btn-next {
    background: #0D1321;
    color: white;
    border-radius: 12px;
    padding: 10px 30px;
    font-size: 18px;
}

/* QUESTION ICON */
.question-icon {
    width: 70px;
    height: 70px;
    background: white;
    border: 3px solid #9DC143;
    color: #9DC143;
    font-size: 35px;
    font-weight: 600;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* STEPS ACTIVE LINE COLOR */
.active-line {
    background: #9DC143 !important;
}

/* Step 2 */
.step.semi-active {
    background: #ffffff;
    border-color: #9DC143;
    color: #9DC143;
}


/* RADIO BUTTONS */
.form-check-input {
    width: 18px;
    height: 18px;
    border: 2px solid #D0D0D0;
    margin-right: 10px;
}

.form-check-input:checked {
    background-color: #9DC143;
    border-color: #9DC143;
}

.form-check-label {
    font-size: 17px;
    color: #3B3B3B;
}

textarea {
    width: 100%;
    height: 160px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 16px;
}

/* Question Title */
.question-title {
    color: #1B263B;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Textarea Styling */
.improve-textarea {
    background: #F7F7F7;
    border: none;
    border-radius: 12px;
    padding: 18px;
    font-size: 16px;
    resize: none;
    /* عشان مايتسحبش الحجم */
    min-height: 150px;
}

/* Placeholder color like the design */
.improve-textarea::placeholder {
    color: #AFAFAF;
    font-size: 15px;
}